/Builds
/Nisualizer/Library
/Nisualizer/.idea
/Nisualizer/Logs
/Nisualizer/obj
/Nisualizer/Temp
/Nisualizer/UserSettings
/Nisualizer/Assembly-CSharp.csproj
/Nisualizer/Assembly-CSharp-Editor.csproj
/Nisualizer/Nisualizer.sln
/Nisualizer/.vsconfig
/Nisualizer/.vs
